@font-face {
    font-family: 'Montserrat.woff2';
    src: url('../fonts/montserrat') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Droid';
  src: url('../fonts/Droid.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
