body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background-image: url("../images/slider-01.jpg");
  background-size: cover;
  height: 100vh;
  margin: 30px;
}
.header .header-mobile {
  display: none;
}
.header .header-top {
  display: flex;
  left: 30px;
  right: 30px;
  z-index: 20;
  background-color: rgba(130, 130, 130, 0.35);
}
.header .header-top .header-logo {
  padding: 30px 0 30px 70px;
}
.header .header-top .company-name {
  margin-top: 30px;
  padding-left: 30px;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: bold;
}
.header .header-top .header-menu {
  display: flex;
  margin-top: 35px;
  margin-left: 70px;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  overflow: hidden;
}
.header .header-top .header-menu .header-menu__item {
  display: inline-block;
  height: 20px;
  padding: 5px 15px;
  margin-left: 10px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
  border: 1px solid rgba(255, 255, 255, 0);
}
.header .header-top .header-menu .header-menu__item .menu__item_hidden-small {
  position: absolute;
  top: 100px;
  right: 250px;
  width: 10%;
  background-color: #333;
  transform: translateY(30px);
  transition: 0.5s;
  visibility: hidden;
  opacity: 0;
  display: flex;
}
.header .header-top .header-menu .header-menu__item .menu__item_hidden {
  position: absolute;
  top: 100px;
  left: 60px;
  width: 93%;
  background-color: #333;
  transform: translateY(30px);
  transition: 0.5s;
  visibility: hidden;
  opacity: 0;
  display: flex;
  z-index: 2;
}
.header .header-top .header-menu .header-menu__item .menu__item_hidden .hidden-menu__block {
  width: 300px;
  height: 100%;
  border-right: 1px solid #999;
}
.header .header-top .header-menu .header-menu__item .menu__item_hidden .hidden-menu__block:last-child {
  border-right: none;
}
.header .header-top .header-menu .header-menu__item .menu__item_hidden .hidden-menu__block .menu-title {
  padding-top: 30px;
  padding-left: 15px;
}
.header .header-top .header-menu .header-menu__item .menu__item_hidden .hidden-menu__block .menu-list {
  padding-top: 20px;
  padding-left: 15px;
}
.header .header-top .header-menu .header-menu__item .menu__item_hidden .hidden-menu__block .menu-list__item {
  font-style: italic;
  list-style: none;
  line-height: 35px;
  font-size: 10px;
  color: #999;
}
.header .header-top .header-menu .header-menu__item .menu__item_hidden .hidden-menu__block .menu-list__item:hover {
  color: #cc9900;
}
.header .header-top .header-menu .header-menu__item:hover {
  cursor: pointer;
  border: 1px solid #fff;
}
.header .header-top .header-menu .header-menu__item:hover .menu__item_hidden {
  position: absolute;
  top: 100px;
  left: 60px;
  width: 93%;
  background-color: #333;
  transform: translateY(0);
  transition: 0.5s;
  visibility: visible;
  opacity: 1;
}
.header .header-top .header-menu .header-menu__item:hover .menu__item_hidden-small {
  position: absolute;
  top: 100px;
  right: 250px;
  width: 10%;
  background-color: #333;
  transform: translateY(0px);
  transition: 0.5s;
  visibility: visible;
  opacity: 1;
}
.header .header-top .header-menu__right {
  position: relative;
  display: flex;
  margin-top: 40px;
  margin-left: 15px;
}
.header .header-top .header-menu__right .menu__item {
  margin-left: 15px;
  font-size: 15px;
  color: #fff;
}
.header .header-top .header-menu__right .menu__item .second-menu_hidden {
  transform: scale(0);
  transform-origin: top;
  transition: 0.5s;
  position: absolute;
  top: 60px;
  left: -100px;
  right: 0;
  background-color: #333;
}
.header .header-top .header-menu__right .menu__item .second-menu_hidden .second-menu__title {
  padding: 10px;
}
.header .header-top .header-menu__right .menu__item .second-menu_hidden .second-menu__item {
  list-style: none;
  font-family: "Montserrat", sans-serif;
  font-style: italic;
  font-size: 14px;
  transition: 1s;
  padding: 0;
  color: #666;
}
.header .header-top .header-menu__right .menu__item input[type=checkbox] {
  display: none;
}
.header .header-top .header-menu__right .menu__item input:checked ~ .second-menu_show {
  transform: scaleX(1);
  transform: scaleY(1.2);
  transform-origin: top;
  transition: 0.5s;
  position: absolute;
  z-index: 50;
  top: 60px;
  left: -200px;
  right: -50px;
  background-color: #333;
}
.header .header-top .header-menu__right .menu__item input:checked ~ .second-menu_show .second-menu__title {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
}
.header .header-top .header-menu__right .menu__item input:checked ~ .second-menu_show .second-menu__item {
  list-style: none;
  font-family: "Montserrat", sans-serif;
  font-style: italic;
  font-size: 14px;
  transition: 1s;
  padding: 0;
}
.header .header-top .header-menu__right .menu__item input:checked ~ .second-menu_show .second-menu__item:hover {
  color: #cc9900;
  cursor: pointer;
  transform: translateX(10%);
  transition: 1s;
}
.header .header-slider {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-top: 250px;
}
.header .header-slider .slider__button {
  color: #fff;
  font-size: 30px;
  padding: 20px 30px 0;
}
.header .header-slider .slider__button i:hover {
  cursor: pointer;
  color: #cc9900;
  transition: 1s;
}
.header .header-slider .slider__button input[type=radio] {
  display: none;
}
.header .header-slider .slider__button input:checked ~ .slider-box_move {
  transform: translate(-150%);
  transition: 1s;
}
.header .header-slider .slider__button .slider-box_move-slow {
  transform: translate(0);
  transition: 1s;
}
.header .header-slider .slider__title {
  margin-left: 150px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  font-size: 60px;
  text-align: center;
}
.header .header-slider .slider__text {
  display: inline-block;
  color: #fff;
  font-size: italic;
  font-size: 20px;
  text-align: center;
}
.header .btn {
  position: relative;
  text-decoration: none;
  color: #fff;
}
.header .btn:hover:after {
  opacity: 1;
  transform: rotate(1037deg);
  transition: 0.3s;
}
.header .btn:after {
  content: "";
  position: absolute;
  bottom: -17px;
  left: 40%;
  background-color: #cc9900;
  width: 10px;
  height: 10px;
  z-index: 222;
  opacity: 0;
  transition: 1s;
}

.header-mobile {
  display: inline-block;
  width: 80px;
  height: 30px;
  margin: 15px;
}
.header-mobile input[type=checkbox] {
  display: none;
}
.header-mobile .mobile-btn {
  margin: 10px;
  text-align: center;
  padding: 10px;
  background-color: #cc9900;
}
.header-mobile .mobile-btn i {
  color: #fff;
  font-size: 25px;
}
.header-mobile .mobile-btn .mobile-menu {
  display: none;
  background-color: #000;
}
.header-mobile .mobile-btn input:checked ~ .mobile-menu_show {
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  display: block;
  background-color: #000;
  color: #fff;
  z-index: 2;
}
.header-mobile .mobile-btn input:checked ~ .mobile-menu_show i {
  position: absolute;
  right: 30px;
}
.header-mobile .mobile-menu__item {
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}
.header-mobile .mobile-menu__item .item-mob-menu__item {
  text-transform: none;
  font-size: 15px;
  color: #666;
  padding: 10px;
}
.header-mobile .mobile-menu__item .item-mob-menu__item:hover {
  cursor: pointer;
  color: #cc9900;
  transition: 1s;
}
.header-mobile .mobile-menu__item i {
  position: relative;
  font-size: 15px;
  margin-left: 140px;
}
.header-mobile .mobile-menu__item i:after {
  position: absolute;
  opacity: 0.6;
  left: 0;
  content: "";
  width: 20px;
  height: 20px;
  background-color: #cc9900;
}
.header-mobile .mobile-menu__item input[type=radio] {
  display: none;
}
.header-mobile .mobile-menu__item .item-mob-menu {
  display: none;
}
.header-mobile .mobile-menu__item input:checked + .item-mob-menu_show {
  display: block;
}
.header-mobile .mobile-menu-list {
  display: none;
}
.header-mobile input:checked + .mobile-menu-list_show {
  display: block;
}
.header-mobile .mobile-menu-list__item {
  color: #fff;
  padding: 10px;
}

.header-contactpage {
  position: relative;
  margin: -30px -30px 0;
  background-image: url("../images/contact-banner.jpg");
  background-size: cover;
  height: 100vh;
}
.header-contactpage:after {
  content: "";
  background-color: rgba(0, 0, 0, 0.65);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.header-contactpage .header-top {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 30;
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.85);
}
.header-contactpage .header-top .header-logo {
  padding: 30px 0 30px 70px;
}
.header-contactpage .header-top .company-name {
  margin-top: 30px;
  padding-left: 30px;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: bold;
}
.header-contactpage .header-top .header-menu {
  display: flex;
  margin-top: 35px;
  margin-left: 70px;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  overflow: hidden;
}
.header-contactpage .header-top .header-menu .header-menu__item {
  display: inline-block;
  height: 20px;
  padding: 5px 15px;
  margin-left: 10px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
  border: 1px solid rgba(255, 255, 255, 0);
}
.header-contactpage .header-top .header-menu .header-menu__item .menu__item_hidden-small {
  position: absolute;
  top: 100px;
  right: 250px;
  width: 10%;
  background-color: #333;
  transform: translateY(30px);
  transition: 0.5s;
  visibility: hidden;
  opacity: 0;
  display: flex;
}
.header-contactpage .header-top .header-menu .header-menu__item .menu__item_hidden {
  position: absolute;
  top: 100px;
  left: 60px;
  width: 93%;
  background-color: #333;
  transform: translateY(30px);
  transition: 0.5s;
  visibility: hidden;
  opacity: 0;
  display: flex;
}
.header-contactpage .header-top .header-menu .header-menu__item .menu__item_hidden .hidden-menu__block {
  width: 300px;
  height: 100%;
  border-right: 1px solid #999;
}
.header-contactpage .header-top .header-menu .header-menu__item .menu__item_hidden .hidden-menu__block:last-child {
  border-right: none;
}
.header-contactpage .header-top .header-menu .header-menu__item .menu__item_hidden .hidden-menu__block .menu-title {
  padding-top: 30px;
  padding-left: 15px;
}
.header-contactpage .header-top .header-menu .header-menu__item .menu__item_hidden .hidden-menu__block .menu-list {
  padding-top: 20px;
  padding-left: 15px;
}
.header-contactpage .header-top .header-menu .header-menu__item .menu__item_hidden .hidden-menu__block .menu-list__item {
  font-style: italic;
  list-style: none;
  line-height: 35px;
  font-size: 10px;
  color: #999;
}
.header-contactpage .header-top .header-menu .header-menu__item .menu__item_hidden .hidden-menu__block .menu-list__item:hover {
  color: #cc9900;
}
.header-contactpage .header-top .header-menu .header-menu__item:hover {
  cursor: pointer;
  border: 1px solid #fff;
}
.header-contactpage .header-top .header-menu .header-menu__item:hover .menu__item_hidden {
  position: absolute;
  top: 80px;
  left: 60px;
  width: 93%;
  background-color: #333;
  transform: translateY(0);
  transition: 0.5s;
  visibility: visible;
  opacity: 1;
}
.header-contactpage .header-top .header-menu .header-menu__item:hover .menu__item_hidden-small {
  position: absolute;
  top: 100px;
  right: 250px;
  width: 10%;
  background-color: #333;
  transform: translateY(0px);
  transition: 0.5s;
  visibility: visible;
  opacity: 1;
}
.header-contactpage .header-top .header-menu__right {
  position: relative;
  display: flex;
  margin-top: 40px;
  margin-left: 15px;
}
.header-contactpage .header-top .header-menu__right .menu__item {
  margin-left: 15px;
  font-size: 15px;
  color: #fff;
}
.header-contactpage .header-top .header-menu__right .menu__item .second-menu_hidden {
  transform: scale(0);
  transform-origin: top;
  transition: 0.5s;
  position: absolute;
  top: 60px;
  left: -100px;
  right: 0;
  background-color: #333;
}
.header-contactpage .header-top .header-menu__right .menu__item input[type=checkbox] {
  display: none;
}
.header-contactpage .header-top .header-menu__right .menu__item input:checked ~ .second-menu_show {
  transform: scaleX(1.2);
  transform-origin: top;
  transition: 0.5s;
  position: absolute;
  top: 60px;
  left: -200px;
  right: -50px;
  background-color: #333;
}
.header-contactpage .header-top .header-menu__right .menu__item input:checked ~ .second-menu_show .second-menu__title {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  margin: 10px;
}
.header-contactpage .header-top .header-menu__right .menu__item input:checked ~ .second-menu_show .second-menu__item {
  padding: 10px 0 0;
  list-style: none;
  font-family: "Montserrat", sans-serif;
  font-style: italic;
  font-size: 15px;
  transition: 1s;
  color: #999;
}
.header-contactpage .header-top .header-menu__right .menu__item input:checked ~ .second-menu_show .second-menu__item:hover {
  color: #cc9900;
  cursor: pointer;
  transform: translateX(10%);
  transition: 1s;
}
.header-contactpage .header-slider {
  display: flex;
  justify-content: space-between;
  margin-top: 300px;
}
.header-contactpage .header-slider .slider__button {
  color: #fff;
  font-size: 30px;
  padding: 20px 30px 0;
}
.header-contactpage .header-slider .slider__title {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  font-size: 60px;
  text-align: center;
}
.header-contactpage .header-slider .slider__text {
  display: inline-block;
  color: #fff;
  font-size: italic;
  font-size: 20px;
  text-align: center;
  font-style: italic;
}
.header-contactpage .btn {
  position: relative;
  text-decoration: none;
  color: #fff;
}
.header-contactpage .btn:hover:after {
  opacity: 1;
  transform: rotate(1037deg);
  transition: 0.3s;
}
.header-contactpage .btn:after {
  content: "";
  position: absolute;
  bottom: -30px;
  left: 40%;
  background-color: #cc9900;
  width: 10px;
  height: 10px;
  opacity: 0;
  transition: 1s;
  z-index: 2;
}
.header-contactpage .header-content {
  padding-top: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header-contactpage .header-content .header-content__title {
  color: #fff;
  font-size: 50px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  z-index: 2;
}
.header-contactpage .header-content .header-content__text {
  color: #fff;
  font-style: italic;
  z-index: 2;
  font-size: 20px;
}
.header-contactpage .header-mobile {
  display: none;
}

.header-blogpage {
  position: relative;
}
.header-blogpage .header-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 30;
  display: flex;
  flex-direction: row;
  background-color: #fff;
  border-bottom: 1px solid;
}
.header-blogpage .header-top .header-logo {
  padding: 30px 0 30px 70px;
}
.header-blogpage .header-top .company-name {
  margin-top: 30px;
  padding-left: 30px;
  color: #000;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: bold;
}
.header-blogpage .header-top .header-menu {
  display: flex;
  margin-top: 35px;
  margin-left: 70px;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  overflow: hidden;
}
.header-blogpage .header-top .header-menu .header-menu__item {
  display: inline-block;
  height: 20px;
  padding: 5px 15px;
  margin-left: 10px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
  border: 1px solid rgba(255, 255, 255, 0);
}
.header-blogpage .header-top .header-menu .header-menu__item .menu__item_hidden-small {
  position: absolute;
  top: 100px;
  right: 250px;
  width: 10%;
  background-color: #333;
  transform: translateY(30px);
  transition: 0.5s;
  visibility: hidden;
  opacity: 0;
  display: flex;
}
.header-blogpage .header-top .header-menu .header-menu__item .menu__item_hidden {
  position: absolute;
  top: 120px;
  left: 60px;
  width: 93%;
  background-color: #333;
  transform: translateY(30px);
  transition: 0.5s;
  visibility: hidden;
  opacity: 0;
  display: flex;
}
.header-blogpage .header-top .header-menu .header-menu__item .menu__item_hidden .hidden-menu__block {
  width: 300px;
  height: 100%;
  border-right: 1px solid #999;
}
.header-blogpage .header-top .header-menu .header-menu__item .menu__item_hidden .hidden-menu__block:last-child {
  border-right: none;
}
.header-blogpage .header-top .header-menu .header-menu__item .menu__item_hidden .hidden-menu__block .menu-title {
  padding-top: 30px;
  padding-left: 15px;
}
.header-blogpage .header-top .header-menu .header-menu__item .menu__item_hidden .hidden-menu__block .menu-list {
  padding-top: 20px;
  padding-left: 15px;
}
.header-blogpage .header-top .header-menu .header-menu__item .menu__item_hidden .hidden-menu__block .menu-list__item {
  font-style: italic;
  list-style: none;
  line-height: 35px;
  font-size: 10px;
  color: #999;
}
.header-blogpage .header-top .header-menu .header-menu__item .menu__item_hidden .hidden-menu__block .menu-list__item:hover {
  color: #cc9900;
}
.header-blogpage .header-top .header-menu .header-menu__item:hover {
  cursor: pointer;
  border: 1px solid #fff;
}
.header-blogpage .header-top .header-menu .header-menu__item:hover .menu__item_hidden {
  position: absolute;
  top: 70px;
  left: 60px;
  width: 93%;
  background-color: #333;
  transform: translateY(0);
  transition: 0.5s;
  visibility: visible;
  opacity: 1;
}
.header-blogpage .header-top .header-menu .header-menu__item:hover .menu__item_hidden-small {
  position: absolute;
  top: 107px;
  right: 250px;
  width: 10%;
  background-color: #333;
  transform: translateY(0px);
  transition: 0.5s;
  visibility: visible;
  opacity: 1;
}
.header-blogpage .header-top .header-menu__right {
  position: relative;
  display: flex;
  margin-top: 40px;
  margin-left: 15px;
}
.header-blogpage .header-top .header-menu__right .menu__item {
  margin-left: 15px;
  font-size: 15px;
  color: #000;
}
.header-blogpage .header-top .header-menu__right .menu__item .second-menu_hidden {
  transform: scale(0);
  transform-origin: top;
  transition: 0.5s;
  position: absolute;
  top: 60px;
  left: -100px;
  right: 0;
  background-color: #333;
}
.header-blogpage .header-top .header-menu__right .menu__item input[type=checkbox] {
  display: none;
}
.header-blogpage .header-top .header-menu__right .menu__item input:checked ~ .second-menu_show {
  transform: scaleX(1.2);
  transform-origin: top;
  transition: 0.5s;
  position: absolute;
  top: 60px;
  left: -200px;
  right: -50px;
  background-color: #333;
}
.header-blogpage .header-top .header-menu__right .menu__item input:checked ~ .second-menu_show .second-menu__title {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  margin: 10px;
  color: #fff;
}
.header-blogpage .header-top .header-menu__right .menu__item input:checked ~ .second-menu_show .second-menu__item {
  padding: 10px 0 0;
  list-style: none;
  font-family: "Montserrat", sans-serif;
  font-style: italic;
  font-size: 15px;
  transition: 1s;
  color: #999;
}
.header-blogpage .header-top .header-menu__right .menu__item input:checked ~ .second-menu_show .second-menu__item:hover {
  color: #cc9900;
  cursor: pointer;
  transform: translateX(10%);
  transition: 1s;
}
.header-blogpage .header-slider {
  display: flex;
  justify-content: space-between;
  margin-top: 300px;
}
.header-blogpage .header-slider .slider__button {
  color: #fff;
  font-size: 30px;
  padding: 20px 30px 0;
}
.header-blogpage .header-slider .slider__title {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  font-size: 60px;
  text-align: center;
}
.header-blogpage .header-slider .slider__text {
  display: inline-block;
  color: #fff;
  font-size: italic;
  font-size: 20px;
  text-align: center;
  font-style: italic;
}
.header-blogpage .btn {
  position: relative;
  text-decoration: none;
  color: #000;
}
.header-blogpage .btn:hover:after {
  opacity: 1;
  transform: rotate(1037deg);
  transition: 1s;
}
.header-blogpage .btn:after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 40%;
  background-color: #cc9900;
  width: 10px;
  height: 10px;
  opacity: 0;
  transition: 1s;
  z-index: 50;
}
.header-blogpage .header-content {
  padding-top: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header-blogpage .header-content .header-content__title {
  color: #fff;
  font-size: 50px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  z-index: 2;
}
.header-blogpage .header-content .header-content__text {
  color: #fff;
  font-style: italic;
  z-index: 2;
  font-size: 20px;
}
.header-blogpage .header-mobile {
  display: none;
}

.content-history {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}
.content-history .content-left {
  padding-left: 100px;
  padding-right: 100px;
}
.content-history .content-right {
  padding-right: 100px;
  padding-left: 100px;
}
.content-history .content-mid__text {
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
  padding-bottom: 30px;
  border-bottom: 1px solid #333;
}
.content-history .content-skills {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
.content-history .content-skills .content-skills__icons {
  height: 60px;
  width: 60px;
  background-color: #f5f5f5;
  text-align: center;
  line-height: 55px;
  font-size: 20px;
  color: #999;
}
.content-history .content-skills .content-skills__text {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 15px;
  line-height: 55px;
}

.counter {
  display: flex;
  justify-content: space-around;
  background-color: #ededed;
  margin-top: 50px;
  padding: 60px 50px 60px 20px;
  margin: 30px;
}
.counter .content__item {
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #999;
  height: 100px;
  padding: 0 45px;
}
.counter .content__item:last-child {
  border-right: none;
}
.counter .content__item .item-number {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #252525;
  padding-right: 5px;
}
.counter .content__item .item-text {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #999999;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.latest-project {
  position: relative;
  height: 100vh;
  overflow: hidden;
}
.latest-project .latest-project-header {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
.latest-project .latest-project-header .latest-project__title {
  padding-left: 60px;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
}
.latest-project .latest-project-header .latest-project__menu {
  display: flex;
  padding-right: 60px;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
}
.latest-project .latest-project-header .latest-project__menu .project-menu__item {
  margin-left: 40px;
}
.latest-project .latest-project-header .latest-project__menu .project-menu__item input[type=radio] {
  display: none;
}
.latest-project .latest-project-header .latest-project__menu .project-menu__item label:hover {
  cursor: pointer;
}
.latest-project .latest-project-header .latest-project__menu .project-menu__item input:checked ~ .scale {
  transform: scale(1);
  transition: 1s;
}
.latest-project .latest-project-header .latest-project__menu .project-menu__item input:checked ~ .move-right {
  transform: translate(0);
  transition: 1s;
}
.latest-project .latest-project-header .latest-project__menu .project-menu__item input:checked ~ .move-top {
  transform: translateY(0);
  visibility: visible;
  transition: 1s;
}
.latest-project .latest-project-header .latest-project__menu .project-menu__item input:checked ~ .move-left {
  transform: translate(0);
  transition: 1s;
}
.latest-project .latest-project-header .latest-project__menu .project-menu__item:hover {
  color: #cc9900;
  cursor: pointer;
}
.latest-project .latest-project-header .latest-project__menu .project-menu__item .all-gallery {
  position: absolute;
  top: 150px;
  left: 20px;
  transform: scale(0);
  transition: 1s;
}
.latest-project .latest-project-header .latest-project__menu .project-menu__item .first-gallery {
  position: absolute;
  top: 150px;
  left: 20px;
  margin-right: -30px;
  transform: translate(150%);
  transition: 1s;
}
.latest-project .latest-project-header .latest-project__menu .project-menu__item .second-gallery {
  position: absolute;
  top: 150px;
  left: 20px;
  transform: translateY(250%);
  visibility: hidden;
  transition: 1s;
}
.latest-project .latest-project-header .latest-project__menu .project-menu__item .third-gallery {
  position: absolute;
  top: 150px;
  left: 20px;
  margin-right: -30px;
  transform: translate(-110%);
  transition: 1s;
}

.team-content {
  margin: 70px 30px 0 30px;
  background-color: #ededed;
}
.team-content .team-content__title {
  text-align: center;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 30px;
  padding-top: 50px;
  padding-bottom: 25px;
}
.team-content .team-content__images {
  display: flex;
  justify-content: center;
}
.team-content .team-content__text {
  text-align: center;
  font-size: 20px;
  line-height: 20px;
  font-style: italic;
  color: #999999;
  padding-top: 25px;
  padding-bottom: 100px;
}
.team-content .team-content__photos {
  display: flex;
  justify-content: space-around;
}
.team-content .team-content__photos .photos__item {
  display: inline-block;
  position: relative;
}
.team-content .team-content__photos .photos__item:hover {
  cursor: pointer;
}
.team-content .team-content__photos .photos__item:hover .photos-content {
  visibility: visible;
  opacity: 1;
}
.team-content .team-content__photos .photos-content {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.451);
  height: 100%;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: 1s;
}
.team-content .team-content__photos .photos-content .photos-content__title {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  color: #f3f3f1;
  padding-bottom: 10px;
}
.team-content .team-content__photos .photos-content .photos-content__text {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #ccc;
  padding-bottom: 30px;
}
.team-content .team-content__photos .photos-content .photos-content__icons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  color: #fff;
  display: flex;
}
.team-content .team-content__photos .photos-content .photos-content__icons .icon:hover {
  color: #cc9900;
  transition: 1s;
}

.shield-theme {
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
}
.shield-theme .theme-text__title {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 23px;
  text-transform: uppercase;
  color: #333;
  margin-bottom: 10px;
}
.shield-theme .shield-theme__button {
  border: 2px solid #000;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
  height: 50px;
  padding: 0 30px;
  line-height: 50px;
  transition: 1s;
}
.shield-theme .shield-theme__button:hover {
  background-color: #cc9900;
  border: 2px solid #cc9900;
  color: #fff;
  transition: 1s;
  cursor: pointer;
}
.shield-theme .theme-text__text {
  color: #999;
  font-size: 18px;
}

.our-clients {
  margin-top: 100px;
  height: 100vh;
  background-image: url("../../public/images/corporate-home-brand1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.our-clients .our-clients__title {
  padding-top: 90px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 30px;
}
.our-clients .clients-content_move {
  transform: translate(0);
  transition: 1s;
}
.our-clients .our-clients__images {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}
.our-clients .our-clients-wrapper {
  position: relative;
  overflow: hidden;
  width: 800px;
  margin: 0 auto;
  margin-top: 10px;
}
.our-clients .our-clients-wrapper input[type=checkbox] {
  display: none;
}
.our-clients .our-clients-wrapper input:checked + .clients-content_move {
  transform: translate(-100%);
  transition: 1s;
}
.our-clients .our-clients-wrapper i {
  position: absolute;
  bottom: 0;
  left: 10px;
  color: #fff;
  font-size: 20px;
  z-index: 2;
  transition: 0.5s;
}
.our-clients .our-clients-wrapper i:hover {
  color: #cc9900;
  transition: 0.5s;
  cursor: pointer;
}
.our-clients .our-clients-wrapper .client-content_row {
  display: flex;
}
.our-clients .our-clients-wrapper .client-content_row .client-content__item_column {
  display: flex;
  flex-direction: column;
}
.our-clients .client-content__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  border-right: 1px solid #fff;
  opacity: 0.5;
  transition: 0.5s;
}
.our-clients .client-content__item:first-child {
  border-bottom: 1px solid #fff;
}
.our-clients .client-content__item:hover {
  cursor: pointer;
  opacity: 1;
  transition: 0.5s;
}
.our-clients .clients-content {
  display: flex;
}

.from-the-blog {
  margin: 100px 30px 0 30px;
}
.from-the-blog .from-the-blog__title {
  font-size: 30px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-align: center;
}
.from-the-blog .from-the-blog__image {
  display: flex;
  justify-content: center;
  margin: 20px;
}
.from-the-blog .from-the-blog__text {
  text-align: center;
  font-size: 18px;
  font-style: italic;
  color: #999999;
  margin: 20px;
}
.from-the-blog .from-the-blog__content {
  margin-top: 70px;
  display: flex;
}
.from-the-blog .blog-content__item-image {
  margin-right: 40px;
}
.from-the-blog .blog-content_column {
  display: flex;
  margin: 20px;
  flex-direction: column;
  justify-content: space-between;
}
.from-the-blog .blog-content {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #999;
  padding-bottom: 20px;
}
.from-the-blog .blog-content .blog-content-post {
  display: flex;
  flex-direction: column;
}
.from-the-blog .blog-content .blog-content-post .blog-content-post__title {
  margin-left: 30px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  transition: 1s;
}
.from-the-blog .blog-content .blog-content-post .blog-content-post__title:hover {
  color: #cc9900;
  transition: 1s;
  cursor: pointer;
}
.from-the-blog .blog-content .blog-content-post .blog-content-post__text {
  margin-left: 30px;
  margin-top: 10px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  color: #999;
  font-size: 13px;
}
.from-the-blog .blog-content .blog-content-post .blog-content-post__button {
  margin-left: 30px;
  margin-top: 30px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 10px;
}
.from-the-blog .blog-content .blog-images-wrapper {
  height: 100px;
  width: 200px;
  overflow: hidden;
}
.from-the-blog .blog-content .blog-images-wrapper .blog-content-post__images {
  width: 100%;
  height: 100%;
  background-image: url("../images/bloglist_nosidebar2.jpg");
  background-size: cover;
  background-position: center;
  transition: 1s;
}
.from-the-blog .blog-content .blog-images-wrapper .blog-content-post__images:hover {
  transform: scale(1.5);
  cursor: pointer;
  transition: 1s;
}
.from-the-blog .blog-content__button_wrapper {
  display: flex;
  justify-content: flex-end;
}
.from-the-blog .blog-content__button_wrapper .blog-content__button {
  width: 400px;
  text-transform: uppercase;
  text-align: center;
  font-size: 15px;
  margin: 100px 200px;
  padding: 30px;
  background-color: #e8e8e8;
  transition: 1s;
}
.from-the-blog .blog-content__button_wrapper .blog-content__button:hover {
  background-color: #999;
  color: #e8e8e8;
  transition: 1s;
}

.thank-you-block {
  background-color: #ededed;
  height: 100vh;
  margin: 0 30px 0 30px;
}
.thank-you-block .thank-you-container {
  width: 800px;
  margin: 0 auto;
}
.thank-you-block .thank-you-block__images {
  display: flex;
  justify-content: center;
  padding-top: 150px;
  color: #cc9900;
  font-size: 30px;
}
.thank-you-block .thank-you-block__text {
  text-align: center;
  color: #666;
  font-size: 20px;
  font-style: italic;
  padding-top: 50px;
}
.thank-you-block .container-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.thank-you-block .container-block .container-block__photo {
  width: 100px;
  height: 100px;
  margin-top: 50px;
  border-radius: 50%;
  border: 1px solid #999;
  background-image: url("../images/carousel-4.png");
  background-size: cover;
}
.thank-you-block .container-block .container-block__title {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 18px;
  margin-top: 20px;
}
.thank-you-block .container-block .container-block__text {
  text-align: center;
  margin-top: 15px;
}

.contact-form {
  display: flex;
  margin: 0 -30px;
}
.contact-form .contact-form__left {
  display: flex;
  flex: 3;
}
.contact-form .contact-form__right {
  display: flex;
  flex: 1.5;
  background-color: #ededed;
}
.contact-form .form-block {
  margin: 100px 0 0 100px;
}
.contact-form .form-block .form-name {
  font-family: "Droid", sans-serif;
  font-size: 18px;
  background-color: #ededed;
  border: none;
  padding: 20px;
  margin-top: 50px;
  margin-right: 25px;
  width: 35%;
}
.contact-form .form-block .form-email {
  font-family: "Droid", sans-serif;
  font-size: 18px;
  background-color: #ededed;
  border: none;
  padding: 20px;
  margin-top: 50px;
  width: 35%;
}
.contact-form .form-block .form-subject {
  font-family: "Droid", sans-serif;
  font-size: 18px;
  background-color: #ededed;
  border: none;
  padding: 20px;
  margin-top: 50px;
  width: 79%;
}
.contact-form .form-block .form-message {
  font-family: "Droid", sans-serif;
  font-size: 18px;
  background-color: #ededed;
  border: none;
  margin-top: 50px;
  padding: 20px;
  resize: none;
  width: 79%;
}
.contact-form .form-block .form-btn {
  border: 1px solid transparent;
  background-color: transparent;
  display: inline-block;
  color: #cc9900;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 26px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  margin-top: 50px;
}
.contact-form .form-block .form-block__title {
  color: #333;
  font-size: 25px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}
.contact-form .contact-form__right {
  display: flex;
  flex-direction: column;
}
.contact-form .contact-form__right .form-block__title {
  text-align: center;
  margin-top: 100px;
  color: #333;
  font-size: 25px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}
.contact-form .contact-form__right .form-item__title {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}
.contact-form .contact-form__right .form-item__text {
  line-height: 30px;
  padding: 50px;
  width: 300px;
  font-family: "Droid", sans-serif;
  color: #666;
}

.googlemap-block {
  margin: 0 -30px;
}
.googlemap-block .map {
  width: 100%;
  height: 450px;
  border: none;
}

.blog-mid {
  display: flex;
  margin-top: 105px;
  height: 300px;
  background-color: #ededed;
}
.blog-mid .blog-content__left {
  flex: 1;
  border-right: 1px solid;
}
.blog-mid .blog-content__right {
  flex: 3;
}
.blog-mid .blog-content__right .blog-content__text {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: bold;
}

.blog-mid-content {
  display: flex;
}
.blog-mid-content .blog-mid-content__left {
  flex: 1;
  border-right: 1px solid;
}
.blog-mid-content .blog-mid-content__left .content-block__title {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 30px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
}
.blog-mid-content .blog-mid-content__left .form-search {
  font-family: "Droid", sans-serif;
  font-size: 18px;
  background-color: #ededed;
  border: none;
  padding: 20px;
  margin-right: 25px;
  margin-left: 25px;
}
.blog-mid-content .blog-mid-content__right {
  flex: 3;
  display: flex;
}
.blog-mid-content .blog-mid-content__right .content-rigt-block {
  flex: 1;
}
.blog-mid-content .blog-mid-content__right .content-rigt-block .postblock {
  margin-bottom: 60px;
}
.blog-mid-content .blog-mid-content__right .content-rigt-block .postblock-photo img {
  width: 250px;
  margin: 20px;
}
.blog-mid-content .blog-mid-content__right .content-rigt-block .postblock-title {
  font-size: 20px;
  text-transform: uppercase;
  margin: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}
.blog-mid-content .blog-mid-content__right .content-rigt-block .postblock-text {
  font-size: 13px;
  margin: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}
.blog-mid-content .blog-mid-content__right .content-rigt-block .postblock-submit {
  margin: 20px;
  color: #333;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  transition: 1s;
}
.blog-mid-content .blog-mid-content__right .content-rigt-block .postblock-submit:hover {
  transition: 1s;
  color: #cc9900;
  cursor: pointer;
}

.block-item-list {
  list-style: none;
}

.categoty__item {
  border-bottom: 1px dashed;
  margin-bottom: 10px;
  padding: 10px;
  width: 80%;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  color: #666;
}
.categoty__item i {
  font-size: 10px;
}
.categoty__item:hover {
  color: #cc9900;
  cursor: pointer;
  transition: 1s;
}

.contentbox {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  color: #666;
  margin: 20px;
}

.popular-tags__block {
  display: inline-flex;
  margin: 4px;
  border: 1px solid #333;
  padding: 10px;
  color: #999;
  font-size: 15px;
  transition: 1s;
}
.popular-tags__block:hover {
  background-color: #cc9900;
  color: #fff;
  cursor: pointer;
  transition: 1s;
}

.content-block__item {
  width: 90%;
  margin-left: 10px;
}

.blog-mid-wrapper {
  display: flex;
  flex: 3;
  flex-direction: column;
}

.blog-menu-block {
  display: flex;
  justify-content: center;
  margin: 50px;
}
.blog-menu-block .block-menu {
  display: flex;
}
.blog-menu-block .block-menu-btn {
  position: relative;
  height: 50px;
  width: 50px;
  border: 1px solid;
  margin-left: 20px;
  transition: 0.5s;
}
.blog-menu-block .block-menu-btn i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.blog-menu-block .block-menu-btn span {
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.blog-menu-block .block-menu-btn:hover {
  background-color: #cc9900;
  cursor: pointer;
  transition: 0.5s;
  color: #fff;
}

.active {
  background-color: #cc9900;
  color: #fff;
}

.recentpost-block {
  display: flex;
  margin: 20px;
}
.recentpost-block .recentpost-text {
  font-family: "Montserrat", sans-serif;
  margin-left: 20px;
  font-size: 13px;
}

.footer {
  background-color: #2b2b2b;
  margin: 0 30px 30px 30px;
}
.footer .footer-content {
  display: flex;
  justify-content: space-around;
}
.footer .footer-content .footer-content__item_column {
  display: flex;
  flex-direction: column;
}
.footer .footer-content .footer-content__item {
  padding-top: 60px;
  width: 20%;
}
.footer .footer-content .footer-content__item .footer-content__item-block {
  display: inline-flex;
  margin: 4px;
  background-color: #535353;
  padding: 10px;
  color: #999;
  font-size: 15px;
  transition: 1s;
}
.footer .footer-content .footer-content__item .footer-content__item-block:hover {
  background-color: #cc9900;
  color: #fff;
  cursor: pointer;
  transition: 1s;
}
.footer .footer-content .footer-content__item .footer-content__icons {
  display: flex;
  color: #999;
  font-size: 15px;
  margin-top: 20px;
}
.footer .footer-content .footer-content__item .footer-content__icons .footer-content__icons-item {
  margin-left: 10px;
}
.footer .footer-content .footer-content__item .footer-content__icons .footer-content__icons-item:hover {
  color: #cc9900;
  cursor: pointer;
}
.footer .footer-content .footer-content__item .footer-content__text {
  display: flex;
  padding: 10px;
  color: #999;
  line-height: 20px;
  border-bottom: 1px solid #999;
}
.footer .footer-content .footer-content__item .footer-content__text:last-child {
  border-bottom: none;
}
.footer .footer-content .footer-content__item .footer-content__text input {
  margin: 20px 0;
  padding: 10px 0;
  border: none;
}
.footer .footer-content .footer-content__item .footer-content__text button {
  background-color: #cc9900;
  border: none;
  padding: 10px 12px;
  color: #fff;
}
.footer .footer-content .footer-content__item .footer-content__text button:hover {
  cursor: pointer;
}
.footer .footer-content .footer-content__item .footer-content__text .footer-content__text-icon {
  font-size: 18px;
  padding-right: 10px;
  color: #525252;
}
.footer .footer-content .footer-content__item .footer-content__title {
  display: flex;
  padding-bottom: 30px;
}
.footer .footer-content .footer-content__item .footer-content__title .footer-content__name {
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  padding-left: 15px;
}
.footer .footer-content .footer-content__item .footer-content__item-title {
  padding-bottom: 40px;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
}
.footer .footer-bottom {
  height: 100px;
  margin-top: 50px;
  background-color: #1f1f1f;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .footer-bottom .footer-bottom-text {
  padding-left: 40px;
  color: #999;
}
.footer .footer-bottom .footer-bottom-button {
  margin-right: 50px;
  height: 40px;
  border: 2px solid #999;
}
.footer .footer-bottom .footer-bottom-button .button_up {
  color: #999;
  display: flex;
  align-items: center;
  padding: 10px;
}

.footer-contactpage {
  background-color: #2b2b2b;
  margin: 0;
}
.footer-contactpage .footer-content {
  display: flex;
  justify-content: space-around;
}
.footer-contactpage .footer-content .footer-content__item_column {
  display: flex;
  flex-direction: column;
}
.footer-contactpage .footer-content .footer-content__item {
  padding-top: 60px;
  width: 20%;
}
.footer-contactpage .footer-content .footer-content__item .footer-content__item-block {
  display: inline-flex;
  margin: 4px;
  background-color: #535353;
  padding: 10px;
  color: #999;
  font-size: 15px;
  transition: 1s;
}
.footer-contactpage .footer-content .footer-content__item .footer-content__item-block:hover {
  background-color: #cc9900;
  color: #fff;
  cursor: pointer;
  transition: 1s;
}
.footer-contactpage .footer-content .footer-content__item .footer-content__icons {
  display: flex;
  color: #999;
  font-size: 15px;
  margin-top: 20px;
}
.footer-contactpage .footer-content .footer-content__item .footer-content__icons .footer-content__icons-item {
  margin-left: 10px;
}
.footer-contactpage .footer-content .footer-content__item .footer-content__icons .footer-content__icons-item:hover {
  color: #cc9900;
  cursor: pointer;
}
.footer-contactpage .footer-content .footer-content__item .footer-content__text {
  display: flex;
  padding: 10px;
  color: #999;
  line-height: 20px;
  border-bottom: 1px solid #999;
}
.footer-contactpage .footer-content .footer-content__item .footer-content__text:last-child {
  border-bottom: none;
}
.footer-contactpage .footer-content .footer-content__item .footer-content__text input {
  margin: 20px 0;
  padding: 10px 0;
  border: none;
}
.footer-contactpage .footer-content .footer-content__item .footer-content__text button {
  background-color: #cc9900;
  border: none;
  padding: 10px 12px;
  color: #fff;
}
.footer-contactpage .footer-content .footer-content__item .footer-content__text button:hover {
  cursor: pointer;
}
.footer-contactpage .footer-content .footer-content__item .footer-content__text .footer-content__text-icon {
  font-size: 18px;
  padding-right: 10px;
  color: #525252;
}
.footer-contactpage .footer-content .footer-content__item .footer-content__title {
  display: flex;
  padding-bottom: 30px;
}
.footer-contactpage .footer-content .footer-content__item .footer-content__title .footer-content__name {
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  padding-left: 15px;
}
.footer-contactpage .footer-content .footer-content__item .footer-content__item-title {
  padding-bottom: 40px;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
}
.footer-contactpage .footer-bottom {
  height: 100px;
  margin-top: 50px;
  margin-bottom: -30px;
  background-color: #1f1f1f;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-contactpage .footer-bottom .footer-bottom-text {
  padding-left: 40px;
  color: #999;
}
.footer-contactpage .footer-bottom .footer-bottom-button {
  margin-right: 50px;
  height: 40px;
  border: 2px solid #999;
}
.footer-contactpage .footer-bottom .footer-bottom-button .button_up {
  color: #999;
  display: flex;
  align-items: center;
  padding: 10px;
}

@media screen and (max-width: 1200px) {
  .header {
    margin: 0;
  }

  .header-logo {
    display: none;
  }

  .header-menu {
    display: none !important;
  }

  .header-mobile {
    display: block !important;
  }

  .team-content {
    display: flex;
    flex-direction: column;
    margin: 70px 0 0;
  }

  .team-content__photos {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer {
    margin: 0;
  }

  .contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-content .footer-content__item {
    width: 80% !important;
  }

  .hidden {
    display: none !important;
  }

  .header-top {
    display: flex;
    justify-content: space-between;
  }

  .counter {
    display: flex;
    flex-direction: column;
  }

  .thank-you-block {
    margin: 0;
    display: flex;
    flex-direction: column;
  }

  .thank-you-container {
    width: 320px !important;
  }

  .from-the-blog {
    display: flex;
    flex-direction: column;
    margin: 0;
  }
  .from-the-blog img {
    width: 300px;
  }

  .from-the-blog__content {
    display: flex;
    flex-direction: column;
  }

  .blog-content {
    display: flex;
    flex-direction: column;
  }

  .content-left {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }

  .content-mid {
    padding-left: 20px;
  }

  .content-history {
    display: flex;
    flex-direction: column;
  }

  .content-skills {
    margin-top: 50px;
    display: flex;
    flex-direction: column !important;
    align-items: center;
  }

  .content-right {
    display: none;
  }

  .our-clients-wrapper {
    width: 320px !important;
  }

  .shield-theme {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  .content__item {
    border-bottom: 1px solid;
    border-right: none !important;
  }

  .blog-content-post {
    margin: 20px;
  }

  .shield-theme__button {
    width: 50%;
  }

  .latest-project__menu {
    margin-left: 5px;
  }

  .latest-project-header {
    display: flex !important;
    flex-direction: column !important;
  }

  .project-menu__item {
    margin-left: 5px !important;
  }

  .blog-content__button {
    margin: 50px 80px 50px 80px !important;
  }

  .slider__button {
    font-size: 20px !important;
    padding: 0 !important;
  }

  .blog {
    display: none;
  }

  .blog-mid-content__right {
    flex-direction: column;
  }
}
@media screen and (max-width: 700px) {
  .slider__title {
    margin-left: 0 !important;
    font-size: 20px !important;
  }

  .slider__text {
    font-size: 8px !important;
  }

  .blog-mid-content {
    flex-direction: column;
  }
}
.content_move {
  animation-name: move;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
}

@keyframes move {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.content_show {
  animation-name: show;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes show {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/*# sourceMappingURL=main.css.map */
