.header {
    display: flex;
    justify-content: space-between;
    height: 100px;
    margin-bottom: 20px;
}

.addItem {
    margin-top: 20px !important;
}

.MuiButtonBase-root:hover {
    cursor: pointer;
}

.table-title {
    font-size: 18px !important;
    font-weight: bold !important;
}

.cart-table__title {
    text-align: left;
}

.cart-table__input {
    width: 30px;
}

.totalPrice {
    margin-top: 20px;
    background-color: #98caed;
}

.table-header {
    background-color: #cfcfcf;
}

.cart-footer {
    display: flex;
    justify-content: space-between;
}

.footer-delete__btn {
    margin-top: 10px;
}

.footer-delete__btn:hover {
    cursor: pointer;
}

.alert-text {
    font-size: 14px;
    color: red;
    padding: 3px;
    border: 1px dotted red;
}
