$primary-color: #F44242;
$second-color: #4285F4;

@font-face {
    font-family: "Rubik-normal";
    src: url("../font/Rubik-Light.ttf");
}

@font-face {
    font-family: "Rubik-Medium";
    src: url("../font/Rubik-Medium.ttf");
}

@font-face {
    font-family: "Rubik-Light";
    src: url("../font/Rubik-Light.ttf");
}