@import "../scss/core.scss";

.main-content {
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    // background-image: url("../img/bg/fon.jpg");
    background-repeat: no-repeat;
    background-position: center center;

    .main-content-left {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-flex: 1;
            -ms-flex: 1;
                flex: 1;
        
        .header-logo {
            margin: 47px 0 0 68px;
        }

        .main-content-left__item:nth-child(4) {
            border-bottom: none;
        }

        .main-content-left__item {
            border-bottom: 2px solid rgba(255, 255, 255, 0.1);
            border-right: 2px solid rgba(255, 255, 255, 0.1);
            position: relative;
            height: 235px;

            .left-item-block {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;

                span {
                    font-family: "Rubik-Medium";
                    font-style: normal;
                    font-weight: 500;
                    font-size: 24px;
                    line-height: 34px;
                    text-transform: uppercase;
                    color: #fff;
                    padding: 54px 0 0 68px;
                }
            }
        
            //блок появляется при наведении мыши
            .hidden-block__item {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: justify;
                    -ms-flex-pack: justify;
                        justify-content: space-between;
                background-color: $second-color;
                opacity: 0;
                -webkit-transition: 2s;
                transition: 2s;

                .block-left {
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-orient: vertical;
                    -webkit-box-direction: normal;
                        -ms-flex-direction: column;
                            flex-direction: column;
                    padding: 54px 0 0 68px;

                    .block-left__title {
                        font-family: "Rubik-Medium";
                        font-style: normal;
                        font-weight: 500;
                        font-size: 24px;
                        line-height: 34px;
                        text-transform: uppercase;
                        color: #fff;
                        padding-bottom: 30px;
                    }

                    .block-left__text {
                        font-family: "Rubik-Medium";
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 23px;
                        color: #FFFFFF;
                        padding-bottom: 15px;
                    }

                    .block-left__text:hover {
                        cursor: pointer;
                    }
                }

                .block-right {
                    padding: 69px 39px 0 0;
                }
            }
        }

        .footer-text {
            position: absolute;
            bottom: 28px;
            left: 67px;
            font-family: "Rubik-Light";
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            text-transform: capitalize;
            color: rgba(255, 255, 255, 0.4);
        }
    }

    .main-content-middle {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-flex: 1;
            -ms-flex: 1;
                flex: 1;

        .header-nav {
            margin-top: 46px;

            ul {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;

                li { 
                    list-style: none;
                    font-family: "Rubik-normal";
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 23px;
                    color: #fff;
                    margin-right: 10px;
                }

                li:hover {
                    cursor: pointer;
                }
            } 
        }

        .main-content-middle__item:nth-child(4) {
            border-bottom: none;
        }

        .main-content-middle__item {
            height: 235px;
            position: relative;
            border-bottom: 2px solid rgba(255, 255, 255, 0.1);

            .left-item-block {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;

                span {
                    font-family: "Rubik-Medium";
                    font-style: normal;
                    font-weight: 500;
                    font-size: 24px;
                    line-height: 34px;
                    text-transform: uppercase;
                    color: #fff;
                    padding: 54px 0 0 68px;
                }
            }
        
            //блок появляется при наведении мыши
            .hidden-block__item {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: justify;
                    -ms-flex-pack: justify;
                        justify-content: space-between;
                background-color: $primary-color;
                opacity: 0;
                -webkit-transition: 2s;
                transition: 2s;

                .block-left {
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-orient: vertical;
                    -webkit-box-direction: normal;
                        -ms-flex-direction: column;
                            flex-direction: column;
                    padding: 54px 0 0 68px;

                    .block-left__title {
                        font-family: "Rubik-Medium";
                        font-style: normal;
                        font-weight: 500;
                        font-size: 24px;
                        line-height: 34px;
                        text-transform: uppercase;
                        color: #fff;
                        padding-bottom: 30px;
                    }

                    .block-left__text {
                        font-family: "Rubik-Medium";
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 23px;
                        color: #FFFFFF;
                        padding-bottom: 15px;
                    }

                    .block-left__text:hover {
                        cursor: pointer;
                    }
                }

                .block-right {
                    padding: 69px 39px 0 0;
                }
            }
        }
    }

    .main-content-right {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-flex: 1;
            -ms-flex: 1;
                flex: 1;

        .main-content-right__item:nth-child(4) {
            border-bottom: none;
        }

        .main-content-right__item {
            height: 235px;
            position: relative;
            border-left: 2px solid rgba(255, 255, 255, 0.1);
            border-bottom: 2px solid rgba(255, 255, 255, 0.1);
                
                .left-item-block {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;

                    span {
                        font-family: "Rubik-Medium";
                        font-style: normal;
                        font-weight: 500;
                        font-size: 24px;
                        line-height: 34px;
                        text-transform: uppercase;
                        color: #fff;
                        padding: 54px 0 0 68px;
                    }
                }
            
                //блок появляется при наведении мыши
                .hidden-block__item {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-pack: justify;
                        -ms-flex-pack: justify;
                            justify-content: space-between;
                    background-color: $second-color;
                    opacity: 0;
                    -webkit-transition: 2s;
                    transition: 2s;

                    .block-left {
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-box-orient: vertical;
                        -webkit-box-direction: normal;
                            -ms-flex-direction: column;
                                flex-direction: column;
                        padding: 54px 0 0 68px;

                        .block-left__title {
                            font-family: "Rubik-Medium";
                            font-style: normal;
                            font-weight: 500;
                            font-size: 24px;
                            line-height: 34px;
                            text-transform: uppercase;
                            color: #fff;
                            padding-bottom: 30px;
                        }

                        .block-left__text {
                            font-family: "Rubik-Medium";
                            font-style: normal;
                            font-weight: normal;
                            font-size: 16px;
                            line-height: 23px;
                            color: #FFFFFF;
                            padding-bottom: 15px;
                        }

                        .block-left__text:hover {
                            cursor: pointer;
                        }
                    }

                    .block-right {
                        padding: 69px 39px 0 0;
                    }
                }
            }

            .block-control {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: end;
                    -ms-flex-pack: end;
                        justify-content: flex-end;

                .block-control__serach {
                    margin: 47px 26px 0 0;
                }

                .block-control__menu {
                    position: relative;
                    width: 46px;
                    height: 46px;
                    margin: 36px 58px 0 0;
                    background-color: $primary-color;

                    img {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        -webkit-transform: translate(-50%, -50%);
                                transform: translate(-50%, -50%);
                    }
                }
            }

            .footer-text {
                position: absolute;
                bottom: 28px;
                right: 67px;
                font-family: "Rubik-Light";
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 17px;
                text-transform: capitalize;
                color: rgba(255, 255, 255, 0.4);
            }
        }

        .block-control__serach {
            img:hover {
                cursor: pointer;
            }
        }

        .block-control__menu {
            img:hover {
                cursor: pointer;
            }
        }
    }

// анимация при наведении
.show {
    -webkit-transition: 2s;
    transition: 2s;
    opacity: 1 !important;
}