@import "../scss/core.scss";

.conten-mobile-header {
    display: flex;
    background-image: url("../img/bg/bg_small.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;


    .modile-header-logo {
        display: flex;
        justify-content: center;

        img {
            margin: 115px 0 60px 0;
        }
    }
}

.content-mobile {
    display: flex;
    flex-direction: column;

    .content-mobile__item {
        background-color: $second-color;
    }

    .content-mobile__item:nth-child(2n) {
        background-color: red;
    }

    .content-item__img {
        display: flex;
        justify-content: center;

        img {
            margin-top: 30px;
        }
    }

    .content-item__title {
        display: flex;
        justify-content: center;
        font-family: "Rubik-Medium";
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-top: 26px;
    }

    .content-item__text {
        display: flex;
        justify-content: center;
        margin-top: 30px;
        font-family: "Rubik-Medium";
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        text-transform: uppercase;
        color: #FFFFFF;
        justify-content: space-around;

        span {
            display: flex;
            margin-bottom: 40px;
        }
    }
}

.content-mobile__button {
    display: flex;
    justify-content: center;
    
    img {
        margin-top: 30px;
    }
}

.content-mobile__title {
    display: flex;
    justify-content: center;

    span {
        font-family: "Rubik-Medium";
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        text-transform: uppercase;
        color: #34363B;
        margin-top: 15px;
        margin-bottom: 37px;
    }
}

.content-mobile__footer {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F5F6F7;

    span {
        font-family: "Rubik-normal";
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 17px;
        color: rgba(52, 54, 59, 0.8);
        margin-bottom: 11px;
    }
}

.main-content-mobile {
    display: none;
    position: relative;

    .main-content-mobile__menu {
        img {
            position: absolute;
            left: 20px;
            top: 26px;
        }

    }

    .main-content-mobile__search {
        img {
            position: absolute;
            top: 27px;
            right: 20px;
        }
    }
}
