@import "../scss/core.scss";

@media screen and (max-width: 1320px) {
    .main-content {
        .main-content-middle {
            .header-nav ul li {
                font-size: 12px;
                line-height: 17px;
            }
        }
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .main-content-mobile {
        display: none;
    }

    .main-content {
        .main-content-middle {
            .header-nav {
                margin-left: -20px;

                ul li {
                    font-size: 12px;
                    line-height: 17px;
                }
            }
        }

        .left-item-block {
            span {
                font-size: 18px !important;
            };
        }

        .block-left__title {
            font-size: 18px !important;
        }
    }
}

@media screen and (max-width: 1000px) {
    .main-content {
        display: none;
    }
    
    .main-content-mobile {
        display: block;
    }
}

