@import "../scss/core.scss";

.menu-mobile-wrapper {
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    background: rgba(255, 255, 255, 1);
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);

    .menu-close-btn {
        img {
            position: absolute;
            top: 46px;
            right: 68px;
        }
        
        img:hover {
            cursor: pointer;
        }
    }

    .desktop-nav {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        margin-top: 115px;

        li {
            position: relative;
            font-family: "Rubik-Medium";
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 34px;
            text-transform: uppercase;
            list-style: none;
            margin-bottom: 40px;
        }

        li:hover {
            cursor: pointer;
            color: $primary-color;
        }

        span {
            padding-bottom: 5px;
            border-bottom: 2px solid transparent;
        }
            
        span:hover{
            padding-bottom: 5px;
            border-bottom: 2px solid red;
        }
    }
}