@media screen and (max-width: 375px) {

    .content {
        .content-left {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            width: 690px;
            margin: 0 !important;

            .content-left-title {
                margin: 48px 0 0 22px;
                font-family: "Montserrat-ExtraBold";
                font-style: normal;
                font-weight: 900;
                font-size: 28px;
                line-height: 41px;
                text-transform: uppercase;
                color: #2E40DD;
                width: 270px;
            }

            .content-block {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                        flex-direction: column;

                .content-block-left {
                    margin-left: 22px;

                    .content-block-left__item {
                        span {
                            font-size: 16px;
                            line-height: 18px;
                        }
                    }
                }
                
                .content-block-right {
                    margin-top: 0;
                    margin-left: 22px;

                    .content-block-right__item:last-child {
                        margin-bottom: 0;
                    }

                    .content-block-right__item {
                        span {
                            font-size: 16px;
                            line-height: 18px;
                        }
                    }
                }
            }

            .content-block-text {
                margin-left: 22px;
                width: 305px;
                height: 51px;
                font-weight: 500;
                font-size: 14px;
                line-height: 17px;
            }

            .content-block-button {
                margin-left: 22px;
                margin-bottom: 100px;
            }
        }


        .content-right {
            position: absolute;
            top: 110px;
            left: 115px;

            img {
                height: 390px;
                width: 400px;
            }
        }
    }

    .popup {
        height: 500px !important;
        width: 350px;

        .popup-content {
            
            .popup-form {

                input {
                    width: 260px !important;
                }
            }
        }
    }

    .popup-hidden {
        width: 360px;
    }
}
