.popup {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);;
    width: 881px;
    height: 450px;
    background: #FFFFFF;
    -webkit-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.25);
    border-radius: 10px;

    .popup-button-close {
        position: absolute;
        top: 16px;
        right: 23px;

        img:hover {
            cursor: pointer;
        }
    }

    .popup-content {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;

        .popup-content-title {
            margin-top: 79px;
            font-family: "Montserrat-ExtraBold";
            font-style: normal;
            font-weight: 900;
            font-size: 34px;
            line-height: 41px;
            text-align: center;
            text-transform: uppercase;
            color: #151515;
        }

        .popup-form {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            margin-bottom: 32px;

            input {
                margin-top: 24px;
                width: 608px;
                height: 70px;
                border-radius: 50px;
                background: #FFFFFF;
                border: 1px solid #2E40DD;
                outline: none;
            }

            input:last-child {
                margin-top: 23px;
            }

            input[placeholder]  {
                font-family: "Montserrat-Light";
                font-style: normal;
                font-weight: normal;
                font-size: 20px;
                line-height: 24px;
                color: #000000;
                opacity: 0.7;
                padding-left: 56px;
            }

            .popup-button {
                margin-top: 23px;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: center;
                    -ms-flex-pack: center;
                        justify-content: center;
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
                margin: 0 auto;
                width: 232px;
                height: 60px;
                background: -webkit-gradient(linear, left top, right top, color-stop(-5.6%, #2E40DD), color-stop(70.12%, #3778F3));
                background: linear-gradient(90deg, #2E40DD -5.6%, #3778F3 70.12%);
                -webkit-box-shadow: 0px 0px 70px rgba(72, 106, 228, 0.5);
                        box-shadow: 0px 0px 70px rgba(72, 106, 228, 0.5);
                border-radius: 500px;
                font-family: "Montserrat-Medium";
                font-style: normal;
                font-weight: 800;
                font-size: 20px;
                line-height: 24px;
                color: #FFFFFF;
            }

            .popup-button:hover {
                cursor: pointer;
            }
        }
    }
}