html {
    height: 100%;
}

/* Стили для показа случайных обоев */
.bodybg1 {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Neucha', cursive;
  background-image: url("../img/clouds.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.bodybg2 {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Neucha', cursive;
  background-image: url("../img/way.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.bodybg3 {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Neucha', cursive;
  background-image: url("../img/sky.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}
/* Конец стилей */

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 35px;
}

.content-block {
  position: relative;
  box-shadow: 0 5px 10px 0;
}

.input-block {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

/* Стили для всех кнопок */
#button-search{
  position: relative;
  margin-top: 20px;
  height: 50px;
  line-height: 10px;
}

#button-result {
  position: relative;
  display: none;
  width: 200px;
  height: 50px;
  line-height: 10px;
}

.span-btn{
  font-family: 'Pattaya', sans-serif;
  width: 200px;
  text-decoration: none;
  outline: none;
  display: inline-block;
  padding: 20px 30px;
  margin: 10px 20px;
  position: relative;
  color: white;
  border: 1px solid rgba(255,255,255,.4);
  background: none;
  font-weight: 300;
  font-family: 'Neucha', cursive;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
}

.span-btn:hover {
  cursor: pointer;
}

.span-btn:before,
.span-btn:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  box-sizing: border-box;
}
.span-btn:before {
  bottom: 0;
  left: 0;
  border-left: 1px solid white;
  border-top: 1px solid white;
  transition: 0s ease opacity .8s, .2s ease width .4s, .2s ease height .6s;
}
.span-btn:after {
  top: 0;
  right: 0;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  transition: 0s ease opacity .4s, .2s ease width , .2s ease height .2s;
}
.span-btn:hover:before,
.span-btn:hover:after{
  height: 100%;
  width: 100%;
  opacity: 1;
}
.span-btn:hover:before {transition: 0s ease opacity 0s, .2s ease height, .2s ease width .2s;}
.span-btn:hover:after {transition: 0s ease opacity .4s, .2s ease height .4s , .2s ease width .6s;}
.span-btn:hover {background: rgba(255,255,255,.2);}

.span-btn input[type="checkbox"] {
  display: none; 
}

.active {
  background: rgba(255,255,255,.2);
}
/* Конец стилей */

/* Оформление fontello иконок */
.list-group-flush i {
  padding: 0 20px 0 0;
  font-size: 18px;
}

.weather-icon i {
  position: absolute;
  right: 20px;
  top: 10px;
  font-size: 50px;
}

#search-icon {
  position: absolute;
  left: 5px;
  top: 15px;
  font-size: 20px;
}

#result-icon {
  position: absolute;
  left: 5px;
  top: 15px;
  font-size: 20px;
}
/* Конец стилей */

/* Стили для карточек погоды на неделю */
.content-block__fiveday {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 35px;
  margin-right: 30px;
}

.content-block__fiveday-item {
  width: 230px;
  transition: 0.5s;
}

.content-block__fiveday-item:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  z-index: 2;
  transition: 0.5s;
}

.content-block__fiveday-item:hover + .content-block__fiveday-item{
  -webkit-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
  -webkit-transform: rotateZ(20deg);
  -ms-transform: rotateZ(20deg);
  transform: rotateZ(20deg);
}
/* Конец стилей */

/* Стили для доп. меню выбора города */
.accordion {
  width: 200px;
  position: fixed;
  top: 20px;
  left: 100px;
}

.btn, .btn-link {
  text-decoration: none !important;
  color: #000;
}

.btn-link:hover {
  color: #000;
  text-decoration: none;
}

.btn:hover {
  color: #000;
  text-decoration: none;
}

.card-body li {
  list-style: none;
}

.cityname__item:hover {
  cursor: pointer;
}

.ca-menu li:hover{
  background: #e1f0fa;
 }
.ca-menu li:hover .ca-icon{
  font-size: 40px;
  color: #259add;
  opacity: 0.8;
  text-shadow: 0px 0px 13px #fff;
}
.ca-menu li:hover .ca-main{
  opacity: 1;
  color:#2676ac;
  animation: moveFromTop 300ms ease-in-out;
}
.ca-menu li:hover .ca-sub{
  opacity: 1;
  animation: moveFromBottom 300ms ease-in-out;
} 
@keyframes moveFromBottom {
  from {
  opacity: 0;
  transform: translateY(200%);
}
  to {
  opacity: 1;
  transform: translateY(0%);
  }
} 
@keyframes moveFromTop {
  from {
  opacity: 0;
  transform: translateY(-200%);
  }
to {
  opacity: 1;
  transform: translateY(0%);
  }
}  
/* Конец стилей */

@media screen and (max-width: 420px) {
  body {
    background-image: none !important;
  }

  .content {
    padding-top: 60px;
  }
  #button-search{
    margin-top: 10px;
  }
  
  #button-result {
    margin-top: 0;
  }

  .content-block__fiveday {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 65px;
    margin-right: 60px;
  }
}
