.login {
	background-image: url("../img/vk.jpg")
}

.login-user {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}

.login-user a {
    text-decoration: none;
    color: #fff;
    font-size: 40px;
}

.login-user a::before,
.login-user a::after {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100px;
	height: 100px;
	border: 2px solid rgba(255, 255, 255, 0.144);
	border-radius: 50%;
	content: '';
	opacity: 0;
	-webkit-transition: transform 0.3s, opacity 0.3s;
	-moz-transition: transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
	-webkit-transform: translateX(-50%) translateY(-50%) scale(0.2);
	-moz-transform: translateX(-50%) translateY(-50%) scale(0.2);
	transform: translateX(-50%) translateY(-50%) scale(0.2);
	-ms-transition: transform 0.3s, opacity 0.3s;
	-o-transition: transform 0.3s, opacity 0.3s;
	-ms-transform: translateX(-50%) translateY(-50%) scale(0.2);
	-o-transform: translateX(-50%) translateY(-50%) scale(0.2);
}

.login-user a::after {
	width: 90px;
	height: 90px;
	border-width: 6px;
	-webkit-transform: translateX(-50%) translateY(-50%) scale(0.8);
	-moz-transform: translateX(-50%) translateY(-50%) scale(0.8);
	transform: translateX(-50%) translateY(-50%) scale(0.8);
	-ms-transform: translateX(-50%) translateY(-50%) scale(0.8);
	-o-transform: translateX(-50%) translateY(-50%) scale(0.8);
}

.login-user a:hover::before,
.login-user a:hover::after,
.login-user a:focus::before,
.login-user a:focus::after {
	opacity: 1;
	-webkit-transform: translateX(-50%) translateY(-50%) scale(1);
	-moz-transform: translateX(-50%) translateY(-50%) scale(1);
	transform: translateX(-50%) translateY(-50%) scale(1);
}