.content{
  display: flex;
  justify-content: space-between;
  background: linear-gradient(to bottom left, #e8e8eb, #f5f6f6);
  width: 93%;
  margin: 2% 3%;
  border: 1px solid #e8e8eb;
  box-shadow: -7px 7px 25px 0px rgba(0,0,0,0.37);
  border-radius: 2em;
}
