.footer {
  background-color: #2b2b2b;

  .footer-content {
    display: flex;
    justify-content: space-around;

    .footer-content__item_column {
      display: flex;
      flex-direction: column;
    }

    .footer-content__item {
      padding-top: 60px;
      width: 20%;

      .footer-content__item-block {
        display: inline-flex;
        margin: 4px;
        background-color: #535353;
        padding: 10px;
        color: #999;
        font-size: 15px;
        transition: 1s;

        &:hover{
          background-color: #cc9900;
          color: #fff;
          cursor: pointer;
          transition: 1s;
        }
      }

      .footer-content__icons {
        display: flex;
        color: #999;
        font-size: 15px;
        margin-top: 20px;

        .footer-content__icons-item {
          margin-left: 10px;

          &:hover {
            color: #cc9900;
            cursor: pointer;
          }
        }
      }

      .footer-content__text {
        display: flex;
        padding: 10px;
        color: #999;
        line-height: 20px;
        border-bottom: 1px solid #999;

        &:last-child {
          border-bottom: none;
        }

        & input {
          margin: 20px 0;
          padding: 10px 0;
          border: none;
        }

        & button {
          background-color: #cc9900;
          border: none;
          padding: 10px 12px;
          color: #fff;

          &:hover {
            cursor: pointer;
          }
        }

        .footer-content__text-icon {
          font-size: 18px;
          padding-right: 10px;
          color: #525252;
        }
      }

      .footer-content__title {
        display: flex;
        padding-bottom: 30px;

        .footer-content__name {
          font-family: "Montserrat",sans-serif;
          font-size: 25px;
          font-weight: bold;
          text-transform: uppercase;
          color: #fff;
          padding-left: 15px;
        }
      }

      .footer-content__item-title {
        padding-bottom: 40px;
        font-family: "Montserrat",sans-serif;
        font-size: 18px;
        font-weight: bold;
        text-transform: uppercase;
        color: #fff;
      }
    }
  }

  .footer-bottom {
    height: 100px;
    margin-top: 50px;
    background-color: #1f1f1f;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .footer-bottom-text {
      padding-left: 40px;
      color: #999;
    }

    .footer-bottom-button {
      margin-right: 50px;
      height: 40px;
      border: 2px solid #999;

      .button_up {
        color: #999;
        display: flex;
        align-items: center;
        padding: 10px;
      }
    }
  }
}
