.thank-you-block {
  background-color: #ededed;
  height: 100vh;

  .thank-you-container {
    width: 800px;
    margin: 0 auto;
  }

  .thank-you-block__images {
    display: flex;
    justify-content: center;
    padding-top: 150px;
    color: #cc9900;
    font-size: 30px;
  }

  .thank-you-block__text {
    text-align: center;
    color: #666;
    font-size: 20px;
    font-style: italic;
    padding-top: 50px;
  }

  .container-block {
    display: flex;
    flex-direction: column;
    align-items: center;

    .container-block__photo {
      width: 100px;
      height: 100px;
      margin-top: 50px;
      border-radius: 50%;
      border: 1px solid #999;
      background-image: url("../images/carousel-4.png");
      background-size: cover;
    }

    .container-block__title{
      font-family: 'Montserrat', sans-serif;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 18px;
      margin-top: 20px;
    }

    .container-block__text{
      text-align: center;
      margin-top: 15px;
    }
  }
}
