$primary-color: #EF6058;
$second-color: #7368FC;

@font-face {
    font-family: 'OpenSans-Bold';
    src: url("../font/OpenSans-Bold.ttf");
}

@font-face {
    font-family: 'OpenSans-Regular';
    src: url("../font/OpenSans-Regular.ttf");
}