@import "../scss/core.scss";


.main-content {
    width: 1200px;
    margin: 0 auto;

    .main-content__title {
        text-align: center;
        font-family: 'OpenSans-Bold';
        font-style: normal;
        font-weight: bold;
        font-size: 28px;
        line-height: 38px;
        color: #101010;
        padding: 60px 0 40px 0;
    }

    .content-block {
        display: flex;
        justify-content: center;
        padding-bottom: 80px;

        .content-block-left {
            position: relative;
            margin-right: 40px;
            display: flex;
            width: 555px;
            height: 453px;
            background: #FFFFFF;
            box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.06);
            border-radius: 10px;

            .block-left__img {
                background-image: url("../img/1200/1200_photo_1.jpg");
                margin: 10px;
                width: 225px;
                height: 433px;
                background-repeat: no-repeat;
                background-size: 100% 100%;
            }

            .block-left__text {
                display: flex;
                flex-direction: column;
    
                .block-left__text-title {
                    width: 262px;
                    height: 75px;
                    font-family: 'OpenSans-Bold';
                    font-style: normal;
                    font-weight: bold;
                    font-size: 18px;
                    line-height: 25px;
                    color: #2F2F2F;
                    padding: 29px 38px 20px 20px;

                    &:hover {
                        cursor: pointer;
                        color: $primary-color;
                    }
                }
    
                .block-left__text-text {
                    width: 287px;
                    height: 162px;
                    font-family: 'OpenSans-Regular';
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 22px;
                    color: #404040;
                    padding: 0 13px 0 20px;
                }
            }

            .block-left__button {

                span {
                    position: absolute;
                    padding: 10px 14px 11px 11px;
                    border: 1px solid transparent;
                    bottom: 21px;
                    right: 24px;
                    font-family: 'OpenSans-Regular';
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 19px;
                    text-align: center;
                    color: $second-color;
                       
                    &:hover {
                        background: #FFFFFF;
                        border: 1px solid $second-color;
                        box-sizing: border-box;
                        border-radius: 5px;
                        padding: 10px 14px 11px 11px;
                        cursor: pointer;
                    }
                }
            }
        }

        .content-block-right {
            position: relative;
            display: flex;
            flex-direction: column;
            width: 555px;
            height: 453px;
            background: #FFFFFF;
            box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.06);
            border-radius: 10px;

            .block-right__img {
                background-image: url("../img/1200/1200_photo_2.jpg");
                margin: 10px;
                width: 535px;
                height: 192px;
                background-repeat: no-repeat;
                background-size: 100% 100%;
            }

            .block-right__text {

                .block-right__text-title {
                    width: 515px;
                    height: 50px;
                    font-family: 'OpenSans-Bold';
                    font-style: normal;
                    font-weight: bold;
                    font-size: 18px;
                    line-height: 25px;
                    color: #2F2F2F;
                    padding: 0 30px 0 10px;

                    &:hover {
                        cursor: pointer;
                        color: $primary-color;
                    }
                }

                .block-right__text-text {
                    padding: 20px 30px 0 10px;
                    width: 515px;
                    height: 66px;
                    font-family: 'OpenSans-Regular';
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 22px;
                    color: #404040;
                }
            }

            .block-right__button {
                
                span {
                    position: absolute;
                    padding: 10px 14px 11px 11px;
                    border: 1px solid transparent;
                    bottom: 21px;
                    right: 24px;
                    font-family: 'OpenSans-Regular';
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 19px;
                    text-align: center;
                    color: $second-color;
                       
                    &:hover {
                        background: #FFFFFF;
                        border: 1px solid $second-color;
                        box-sizing: border-box;
                        border-radius: 5px;
                        padding: 10px 14px 11px 11px;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}
