body {
    margin: 0;
    padding: 0;
    background: #F3F3F3;
}

.section-contact {
    background-color: #fff;
    margin-top: 80px;
    margin-bottom: 80px;
}

.section-main {
    margin-top: 1px;
    background-color: #fff;
}



