@media screen and (max-width: 1200px) {
  .header {
    margin: 0;

    .header-top {
      .header-menu {
        display: none;
      }

      .header-mobile {
        display: block;
      }
    }

    .header-slider {
      .slider__button {
        font-size: 20px;
        padding: 0;
      }
    }
  }

  .header-blogpage {
    margin: 0;

    .header-top {
      .header-menu {
        display: none;
      }

      .header-mobile {
        display: block;
      }
    }
  }

  .header-contactpage {
    margin: 0;

    .header-top {
      .header-menu {
        display: none;
      }

      .header-mobile {
        display: block;
      }
    }
  }

  .team-content {
    display: flex;
    flex-direction: column;
    margin: 70px 0 0;
  }

  .team-content__photos {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer {
    margin: 0;

    .footer-content {
      display: flex;
      flex-direction: column;
      align-items: center;

      .footer-content__item {
        width: 80%;
      }
    }
  }

  .footer-contactpage {
    margin: 0;

    .footer-content {
      display: flex;
      flex-direction: column;
      align-items: center;

      .footer-content__item {
        width: 80%;
      }
    }
  }

  .contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header-top {
    display: flex;
    justify-content: space-between;
  }

  .counter {
    display: flex;
    flex-direction: column;

    .content__item {
      border-bottom: 1px solid;
      border-right: none;
    }
  }

  .thank-you-block {
    margin: 0;
    display: flex;
    flex-direction: column;

    .thank-you-container {
      width: 320px;
    }
  }

  .from-the-blog {
    display: flex;
    flex-direction: column;
    margin-top: 50px;

    .blog-content__item-image {
      display: none;
    }

    .blog-content__button_wrapper {
      .blog-content__button {
        margin: 50px 80px;
      }
    }
  }

  .from-the-blog__content {
    display: flex;
    flex-direction: column;
  }

  .blog-content {
    display: flex;
    flex-direction: column;
  }

  .content-mid {
    padding-left: 20px;
  }

  .content-history {
    display: flex;
    flex-direction: column;

    .content-left {
      padding-left: 20px;
      padding-right: 20px;
    }

    .content-skills {
      margin-top: 50px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  .content-right {
    display: none;
  }

  .shield-theme {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  .blog-content-post {
    margin: 20px;
  }

  .shield-theme__button {
    width: 50%;
  }

  .latest-project__menu {
    margin-left: 5px;
  }

  .latest-project {
    .latest-project-header {
      display: flex;
      flex-direction: column;

      .latest-project__menu {
        .project-menu__item {
          margin-left: 5px;
        }
      }
    }
  }

  .blog {
    display: none;
  }

  .blog-mid-content__right {
    flex-direction: column;
  }
}
@media screen and (max-width: 800px) {
  .our-clients-wrapper {
    display: none;
  }

  .our-clients {
    .mobile-slider {
      display: flex;
      justify-content: center;
    }
  }
}
@media screen and (max-width: 700px) {
  .header {
    height: 100%;

    .header-slider {
      padding-top: 100px;
      padding-bottom: 100px;

      .slider__title {
        margin-left: 0;
        font-size: 20px;
      }

      .slider__text {
        font-size: 8px;
      }
    }

    .header-top {
      .header-menu__right {
        display: none;
      }
    }
  }

  .header-blogpage {
    .header-top {
      .header-menu__right {
        display: none;
      }
    }
  }

  .header-contactpage {
    .header-top {
      .header-menu__right {
        display: none;
      }
    }
  }

  .blog-mid-content {
    flex-direction: column;

    .blog-mid-content__left {
      border-right: none;
    }
  }

  .header-contactpage {
    height: 100%;
  }

  .header-content {
    padding-bottom: 100px;
  }

  .contact-form {
    margin: 0;

    .form-block {
      margin: 100px 0 0 20px;
    }
  }
}
@media screen and (max-width: 450px) {
  .header {
    .header-top {
      .header-logo {
        padding: 20px 5px 30px 15px;
      }

      .company-name {
        padding-left: 0;
        font-size: 21px;
      }
    }
  }

  .header-blogpage {
    .header-top {
      .header-logo {
        padding: 20px 5px 30px 15px;
      }

      .company-name {
        padding-left: 0;
        font-size: 21px;
      }
    }
  }

  .header-contactpage {
    .header-top {
      .header-logo {
        padding: 20px 5px 30px 15px;
      }

      .company-name {
        padding-left: 0;
        font-size: 21px;
      }
    }
  }
}
