.blog-mid {
  display: flex;
  margin-top: 105px;
  height: 300px;
  background-color: $bgcolor;

  .blog-content__left {
    flex: 1;
    border-right: 1px solid;
  }

  .blog-content__right {
    flex: 3;

    .blog-content__text {
      display: flex;
      justify-content: center;
      padding-top: 100px;
      font-family: 'Montserrat', sans-serif;
      text-transform: uppercase;
      font-size: 25px;
      font-weight: bold;
    }
  }
}

.blog-mid-content {
  display: flex;

  .blog-mid-content__left {
    flex: 1;
    border-right: 1px solid;

    .content-block__title {
      display: flex;
      justify-content: center;
      padding-top: 50px;
      padding-bottom: 30px;
      font-family: 'Montserrat', sans-serif;
      text-transform: uppercase;
      font-size: 15px;
      font-weight: bold;
    }

    .form-search {
      font-family: 'Droid', sans-serif;
      font-size: 18px;
      background-color: $bgcolor;
      border: none;
      padding: 20px;
      margin-right: 25px;
      margin-left: 25px;
    }
  }

  .blog-mid-content__right {
    flex: 3;
    display: flex;

    .content-rigt-block {
      flex: 1;

      .postblock{
        margin-bottom: 60px;
      }

      .postblock-photo img {
        width: 250px;
        margin: 20px;
      }

      .postblock-title {
        font-size: 20px;
        text-transform: uppercase;
        margin: 20px;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
      }

      .postblock-text {
        font-size: 13px;
        margin: 20px;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
      }

      .postblock-submit {
        margin: 20px;
        color: #333;
        font-size: 14px;
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        transition: 1s;

        &:hover{
          transition: 1s;
          color: $hovercolor;
          cursor: pointer;
        }
      }
    }
  }
}

.block-item-list {
  list-style: none;
}

.categoty__item {
  border-bottom: 1px dashed;
  margin-bottom: 10px;
  padding: 10px;
  width: 80%;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  color: #666;

  & i {
    font-size: 10px;
  }

  &:hover {
    color: $hovercolor;
    cursor: pointer;
    transition: 1s;
  }
}

.contentbox {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  color: #666;
  margin: 20px;
}

.popular-tags__block {
  display: inline-flex;
  margin: 4px;
  border: 1px solid #333;
  padding: 10px;
  color: #999;
  font-size: 15px;
  transition: 1s;

  &:hover {
    background-color: #cc9900;
    color: #fff;
    cursor: pointer;
    transition: 1s;
  }
}

.content-block__item {
  width: 90%;
  margin-left: 10px;
}

.blog-mid-wrapper {
  display: flex;
  flex: 3;
  flex-direction: column;
}

.blog-menu-block {
  display: flex;
  justify-content: center;
  margin: 50px;

  .block-menu {
    display: flex;
  }

  .block-menu-btn {
    position: relative;
    height: 50px;
    width: 50px;
    border: 1px solid;
    margin-left: 20px;
    transition: 0.5s;

    & i {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }

    & span {
      font-size: 20px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }

    &:hover {
      background-color: $hovercolor;
      cursor: pointer;
      transition: 0.5s;
      color: #fff;
    }
  }
}

.active {
  background-color: $hovercolor;
  color: #fff;
}

.recentpost-block {
  display: flex;
  margin: 20px;

  .recentpost-text {
    font-family: 'Montserrat', sans-serif;
    margin-left: 20px;
    font-size: 13px;
  }
}
