.contact-form {
  display: flex;

  .contact-form__left {
    display: flex;
    flex: 3;
  }

  .contact-form__right {
    display: flex;
    flex: 1.5;
    background-color: $bgcolor;
  }

  .form-block {
    margin: 100px 0 0 100px;

    .form-name {
      font-family: 'Droid', sans-serif;
      font-size: 18px;
      background-color: $bgcolor;
      border: none;
      padding: 20px;
      margin-top: 50px;
      margin-right: 25px;
      width: 35%;
    }

    .form-email {
      font-family: 'Droid', sans-serif;
      font-size: 18px;
      background-color: $bgcolor;
      border: none;
      padding: 20px;
      margin-top: 50px;
      width: 35%;
    }

    .form-subject {
      font-family: 'Droid', sans-serif;
      font-size: 18px;
      background-color: $bgcolor;
      border: none;
      padding: 20px;
      margin-top: 50px;
      width: 79%;
    }

    .form-message {
      font-family: 'Droid', sans-serif;
      font-size: 18px;
      background-color: $bgcolor;
      border: none;
      margin-top: 50px;
      padding: 20px;
      resize: none;
      width: 79%;
    }

    .form-btn {
      border: 1px solid transparent;
      background-color: transparent;
      display: inline-block;
      color: #cc9900;
      font-size: 14px;
      text-transform: uppercase;
      line-height: 26px;
      font-weight: bold;
      font-family: 'Montserrat', sans-serif;
      margin-top: 50px;
    }

    .form-block__title {
      color: #333;
      font-size: 25px;
      font-weight: 700;
      font-family: 'Montserrat', sans-serif;
      text-transform: uppercase;
    }
  }

  .contact-form__right {
    display: flex;
    flex-direction: column;

    .form-block__title {
      text-align: center;
      margin-top: 100px;
      color: #333;
      font-size: 25px;
      font-weight: 700;
      font-family: 'Montserrat', sans-serif;
      text-transform: uppercase;
    }

    .form-item__title {
      font-family: 'Montserrat', sans-serif;
      text-transform: uppercase;
      font-weight: bold;
      text-align: center;
    }

    .form-item__text {
      line-height: 30px;
      padding: 50px;
      width: 220px;
      font-family: 'Droid', sans-serif;
      color: #666;
    }
  }
}

.googlemap-block {
  margin: 0;

  .map {
    width: 100%;
    height: 450px;
    border: none;
  }
}
