.header-contactpage {
  position: relative;
  background-image: url("../images/contact-banner.jpg");
  background-size: cover;

  &:after{
    content: "";
    background-color: rgba(0, 0, 0, 0.65);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .header-top {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 30;
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.85);

    .header-logo {
      padding: 30px 0 30px 70px;
    }

    .company-name {
      margin-top: 30px;
      padding-left: 30px;
      color: #fff;
      font-family: 'Montserrat', sans-serif;
      text-transform: uppercase;
      font-size: 30px;
      font-weight: bold;
    }

    .header-menu {
      display: flex;
      margin-top: 35px;
      margin-left: 70px;
      color: #fff;
      font-family: 'Montserrat', sans-serif;
      overflow: hidden;

      .header-menu__item {
        display: inline-block;
        height: 20px;
        padding: 5px 15px;
        margin-left: 10px;
        text-transform: uppercase;
        font-size: 13px;
        font-weight: bold;
        border: 1px solid rgba(#ffffff, 0);

        .menu__item_hidden-small {
          position: absolute;
          top: 100px;
          right: 250px;
          width: 10%;
          background-color: #333;
          transform: translateY(30px);
          transition: 0.5s;
          visibility: hidden;
          opacity: 0;
          display: flex;
        }

        .menu__item_hidden {
          position: absolute;
          top: 100px;
          left: 60px;
          width: 93%;
          background-color: #333;
          transform: translateY(30px);
          transition: 0.5s;
          visibility: hidden;
          opacity: 0;
          display: flex;

          .hidden-menu__block {
            width: 300px;
            height: 100%;
            border-right: 1px solid #999;

            &:last-child {
              border-right: none;
            }

            .menu-title {
              padding-top: 30px;
              padding-left: 15px;
            }

            .menu-list {
              padding-top: 20px;
              padding-left: 15px;
            }

            .menu-list__item {
              font-style: italic;
              list-style: none;
              line-height: 35px;
              font-size: 10px;
              color: #999;

              &:hover {
                color: $hovercolor;
              }
            }
          }
        }

        &:hover {
          cursor: pointer;
          border: 1px solid #fff;

          .menu__item_hidden {
            position: absolute;
            top: 80px;
            left: 60px;
            width: 93%;
            background-color: #333;
            transform: translateY(0);
            transition: 0.5s;
            visibility: visible;
            opacity: 1;
          }

          .menu__item_hidden-small {
            position: absolute;
            top: 80px;
            right: 430px;
            width: 10%;
            background-color: #333;
            transform: translateY(0px);
            transition: 0.5s;
            visibility: visible;
            opacity: 1;
          }
        }
      }
    }

    .header-menu__right {
      position: relative;
      display: flex;
      margin-top: 40px;
      margin-left: 15px;

      .menu__item {
        margin-left: 15px;
        font-size: 15px;
        color: #fff;

        .second-menu_hidden {
          transform: scale(0);
          transform-origin: top;
          transition: 0.5s;
          position: absolute;
          top: 60px;
          left: -100px;
          right: 0;
          background-color: #333;
        }

        & input[type="checkbox"] {
          display: none;
        }

        & input:checked ~ .second-menu_show {
          transform: scaleX(1.2);
          transform-origin: top;
          transition: 0.5s;
          position: absolute;
          top: 60px;
          left: -200px;
          right: -50px;
          background-color: #333;

          .second-menu__title {
            font-family: 'Montserrat', sans-serif;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 14px;
            margin: 10px;
          }

          .second-menu__item {
            padding: 10px 0 0;
            list-style: none;
            font-family: 'Montserrat', sans-serif;
            font-style: italic;
            font-size: 15px;
            transition: 1s;
            color: #999;

            &:hover {
              color: $hovercolor;
              cursor: pointer;
              transform: translateX(10%);
              transition: 1s;
            }
          }
        }
      }
    }
  }

  .header-slider {
    display: flex;
    justify-content: space-between;
    margin-top: 300px;

    .slider__button {
      color: #fff;
      font-size: 30px;
      padding: 20px 30px 0;
    }

    .slider__title {
      font-family: 'Montserrat', sans-serif;
      text-transform: uppercase;
      font-weight: bold;
      color: #fff;
      font-size: 60px;
      text-align: center;
    }

    .slider__text {
      display: inline-block;
      color: #fff;
      font-size: italic;
      font-size: 20px;
      text-align: center;
      font-style: italic;
    }
  }

  .btn {
    position: relative;
    text-decoration: none;
    color: #fff;

    &:hover:after {
      opacity: 1;
      transform: rotate(1037deg);
      transition: 0.3s;
    }

    &:after {
      content: '';
      position: absolute;
      bottom: -30px;
      left: 40%;
      background-color: $hovercolor;
      width: 10px;
      height: 10px;
      opacity: 0;
      transition: 1s;
      z-index: 2;
    }
  }

  .header-content{
    padding-top: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .header-content__title{
      color: #fff;
      font-size: 50px;
      text-transform: uppercase;
      font-family: 'Montserrat', sans-serif;
      font-weight: bold;
      z-index: 2;
    }
    .header-content__text{
      color: #fff;
      font-style: italic;
      z-index: 2;
      font-size: 20px;
    }
  }

  .header-mobile{
    display: none;
  }
}
