.latest-project {
  position: relative;
  height: 100vh;
  overflow: hidden;

  .latest-project-header {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;

    .latest-project__title {
      padding-left: 60px;
      font-family: 'Montserrat', sans-serif;
      font-size: 30px;
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: 2px;
    }

    .latest-project__menu {
      display: flex;
      padding-right: 60px;
      font-family: 'Montserrat', sans-serif;
      font-size: 15px;
      text-transform: uppercase;
      font-weight: bold;

      .project-menu__item {
        margin-left: 40px;

        & input[type="radio"] {
          display: none;
        }

        & label:hover {
          cursor: pointer;
        }

        & input:checked ~ .scale {
          transform: scale(1);
          transition: 1s;
        }

        & input:checked ~ .move-right {
          transform: translate(0);
          transition: 1s;
        }

        & input:checked ~ .move-top {
          transform: translateY(0);
          visibility: visible;
          transition: 1s;
        }

        & input:checked ~ .move-left {
          transform: translate(0);
          transition: 1s;
        }

        &:hover {
          color: #cc9900;
          cursor: pointer;
        }

        .all-gallery {
          position: absolute;
          top: 150px;
          left: 20px;
          transform: scale(0);
          transition: 1s;
        }

        .first-gallery {
          position: absolute;
          top: 150px;
          left: 20px;
          margin-right: -30px;
          transform: translate(150%);
          transition: 1s;
        }

        .second-gallery {
          position: absolute;
          top: 150px;
          left: 20px;
          transform: translateY(250%);
          visibility: hidden;
          transition: 1s;
        }

        .third-gallery {
          position: absolute;
          top: 150px;
          left: 20px;
          margin-right: -30px;
          transform: translate(-110%);
          transition: 1s;
        }
      }
    }
  }
}
