.our-clients {
  margin-top: 100px;
  height: 100vh;
  background-image: url("../../public/images/corporate-home-brand1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  .our-clients__title {
    padding-top: 90px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 30px;
  }

  .clients-content_move{
    transform: translate(0);
    transition: 1s;
  }

  .our-clients__images {
    display: flex;
    justify-content: center;
    padding-top: 20px;
  }

  .our-clients-wrapper {
    position: relative;
    overflow: hidden;
    width: 800px;
    margin: 0 auto;
    margin-top: 10px;

    & input[type="checkbox"]{
      display: none;
    }

    & input:checked + .clients-content_move{
      transform: translate(-100%);
      transition: 1s;
    }

    & i{
      position: absolute;
      bottom: 0;
      left: 10px;
      color: #fff;
      font-size: 20px;
      z-index: 2;
      transition: 0.5s;

      &:hover{
        color: #cc9900;
        transition: 0.5s;
        cursor: pointer;
      }
    }

    .client-content_row {
      display: flex;

      .client-content__item_column {
        display: flex;
        flex-direction: column;
      }
    }
  }

  .client-content__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    border-right: 1px solid #fff;
    opacity: 0.5;
    transition: 0.5s;

    &:first-child{
      border-bottom: 1px solid #fff;
    }

    &:hover{
      cursor: pointer;
      opacity: 1;
      transition: 0.5s;
    }
  }

  .clients-content {
    display: flex;
  }
}
