.content_move {
  animation-name: move;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
}
@keyframes move {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.content_show {
  animation-name: show;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes show {
  0% {
    opacity: 1;
  }

  100%{
    opacity: 0;
  }
}
