@media screen and (max-width: 1000px) {
  .header-mobile {
    display: block !important;
  }

  .content-history {
    display: flex;
    flex-direction: column;
  }

  .contact-form{
    display: flex;
    flex-direction: column;
  }

  .footer-content{
    display: flex;
    flex-direction: column;
    align-items: center;

    .footer-content__item{
      width: 80% !important;
    }
  }
  .hidden{
    display: none !important;
  }

  .header-top{
    display: flex;
    justify-content: space-between;
  }
}
